.Card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: auto;
    margin: 6px;
    padding: 10px;
    display: inline-block;
    max-width: 182px;
    height: 200px;
    overflow-y: auto;
    min-width: 182px;
    background-color: #fff;
    cursor: pointer;
}

.Container {
    background: #eeeeee;
    max-width: 1500px;
    width: auto;
    overflow: scroll;
    margin: 35px;
    height: 470px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.NoResponse {
    left: 45%;
    position: absolute;
    top: 42%;
}

.Loader {
    color: black;
    position: fixed;
    top: 42%;
    left: 45%;
    font-size: 30px;
}